__pycache__/

*.retry
*.swp
*.deb
*.Rproj
*.Rproj.user
*.Rhistory
*.html
*.json
*.zip
*.tar
*.gz
*.vscode
*.solitairetheme8
*.jpg
*.jpeg
*.png
*.svg
*.h5
*.model
*.log
*.csv
*.xlsx
.tfrecords

roles/models/experiments/
roles/models/images/