__pycache__/

*.retry
*.swp
*.deb
*.Rproj
*.Rproj.user
*.Rhistory
*.html
*.json
*.zip
*.tar
*.gz
*.vscode
*.solitairetheme8
*.jpg
*.jpeg
*.png
*.svg
*.h5
*.model
*.log
*.csv
*.xlsx
*.tfrecords
*.txt
checkpoint
cp.ckpt.*
*.pb
*.index
variables.*

roles/modeling/fast/training_1/
roles/modeling/images/
roles/modeling/saved_model/

roles/models/experiments/
roles/models/images/
roles/models/saved_model/

roles/frontend/app/images/
roles/frontend/app/files/
roles/frontend/app/kubernetes/files
