__pycache__/

*.retry
*.swp
*.deb
*.Rproj
*.Rproj.user
*.Rhistory
*.html
*.json
*.zip
*.tar
*.gz
*.vscode
*.solitairetheme8
*.jpg
*.jpeg
*.png
*.svg
*.h5
*.model
*.log
*.csv
*.xlsx
*.tfrecords
checkpoint
cp.ckpt.*

roles/modeling/fast/training_1/
roles/models/experiments/
roles/models/images/
roles/models/saved_model/
roles/frontend/*.txt
roles/frontend/images/
roles/frontend/files/
